<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resumémon</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <style>
        td,th{padding: 5px 16px; text-align:left; font-family: "Press Start 2P"; font-size: 12px;}
        body{
            display: flex;
            justify-content: space-around;
        }
        #pkmn{
            font-family: "Press Start 2P";
            font-size: 12px;
        }
        #log{
            font-family: "Arial";
            font-size: 16px;
        }
        .backButton {
            position:absolute;
            bottom: 100px;
        }
        #eventLog {
            /*padding-top: 100px;*/
            overflow-y: auto;
            width: 30%;
            max-height: 700px;
        }
    </style>
</head>

<script>
    const SLEEP_DELAY = 400;

    function recursiveSleep(stringArray) {
        if (stringArray.length <= 0) {
            document.getElementById("battleMusic").pause();
            document.getElementById("victoryMusic").play();
            return;
        }
        setTimeout(function() {
            document.getElementById("eventLog").innerHTML += `<div class='eventMessage' id='log'><span><p>${stringArray.shift()}</p></span></div>`;
            document.getElementById("eventLog").scrollTop = document.getElementById("eventLog").scrollHeight;
            recursiveSleep(stringArray);
        }, SLEEP_DELAY);
    }

    const events = <%- JSON.stringify(eventLog) %>;

    function revealEventLog() {
        document.getElementById("battleMusic").play();


        let eventLogElement = document.getElementById("eventLog");
        eventLogElement.style.display = "block";
        // for (let event of events) {
        //     setTimeout(function() {
        //         document.getElementById("eventLog").innerHTML += `<div class='eventMessage'><span><p>${event}</p></span></div>`;
        //     }, 1000);
        // }
        recursiveSleep(events);
        let battleButtonElement = document.getElementById("battleButton");
        battleButtonElement.style.display = "none";
}
</script>
<body>


<!--<a href="/index.html">Back</a>-->
<audio src="pokemonBattleTheme.mp3" id="battleMusic">
    <p>If you are reading this, it is because your browser does not support the audio element.     </p>
</audio>
<audio src="pokemonVictory.mp3" id="victoryMusic">
    <p>If you are reading this, it is because your browser does not support the audio element.     </p>
</audio>

<!--<div id="pokemonBox">-->
<% for (const pokemon of pokemons) { %>
    <div class="pokemon" id="pkmn">
        <img height=400 src="<%= pokemon.image %>"/>
        <p><b>NAME: </b><%= pokemon.name.toUpperCase() %></p>
        <p><b>LEVEL: </b><%= pokemon.level %></p>
        <p><b>TYPE: </b><%= pokemon.type.toUpperCase() %></p>
        <p><b>TOTAL HEALTH: </b><%= pokemon.health %></p>
        <p><b>MOVESET: </b>
        <table>
            <thead>
            <th>MOVE</th>
            <th>DAMAGE</th>
            </thead>
            <% for (let move of pokemon.moveset) { %>
            <tr>
                <td><%= move.name.toUpperCase() %></td>
                <td><%= move.damage %></td>
            </tr>
            <% } %>
        </table></p>
    </div>
<% } %>
<!--</div>-->

<form class="backButton" action="/index.html">
    <input type="submit" value="Generate more Pokemon!" />
</form>

<% if (eventLog.length > 0) { %>
<button onclick="revealEventLog()" id="battleButton">
    Battle!
</button>
<% } %>

<div class="eventLog" id="eventLog" style="display: none">
</div>
</body>
</html>

