<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resumemon</title>
    <style>
        td,th{padding: 5px 16px; text-align:left}
        body{
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>

<script>
function revealEventLog() {
    let eventLogElement = document.getElementById("eventLog");
    eventLogElement.style.display = "block";

    let battleButtonElement = document.getElementById("battleButton");
    battleButtonElement.style.display = "none";
}
</script>
<body>
<% for (const pokemon of pokemons) { %>
    <div class="pokemon">
        <img height=400 src="<%= pokemon.image %>"/>
        <p><b>NAME: </b><%= pokemon.name.toUpperCase() %></p>
        <p><b>LEVEL: </b><%= pokemon.level %></p>
        <p><b>TYPE: </b><%= pokemon.type.toUpperCase() %></p>
        <p><b>TOTAL HEALTH: </b><%= pokemon.health %></p>
        <p><b>MOVESET: </b>
        <table>
            <thead>
            <th>MOVE</th>
            <th>DAMAGE</th>
            </thead>
            <% for (let move of pokemon.moveset) { %>
            <tr>
                <td><%= move.name.toUpperCase() %></td>
                <td><%= move.damage %></td>
            </tr>
            <% } %>
        </table></p>
    </div>
<% } %>

<% if (eventLog.length > 0) { %>
<button onclick="revealEventLog()" id="battleButton">
    Battle!
</button>
<% } %>

<div class="eventLog" id="eventLog" style="display: none">
<% for (const eventString of eventLog) { %>
    <div class="eventMessage">
        <span><%=eventString%></span>
    </div>
<%}%>
</div>
</body>
</html>

